@inherits LayoutComponentBase

<div class="page h-100">
    <div class="sidebar bg-primary">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content h-100">
            @Body
        </div>
    </div>
</div>
