@inherits LayoutComponentBase

<div class="page h-100">
    <div class="sidebar bg-primary">
        <NavMenu />
    </div>

    <div class="main h-75">
        <div class="content px-4 h-100">
            @Body
        </div>
    </div>
</div>
