@page "/repos"

@using HenryMigo.Shared.Models
@using System.Collections.Generic
@using System.Net.Http
@using Newtonsoft.Json;
@inject IHttpClientFactory ClientFactory
<h3>Repos</h3>

@foreach (var repo in gitHubRepos)
{
    <div>
        <p>@repo.Name</p>
    </div>
}

@if (gitHubRepos.Count == 0)
{
    <div id="error">
        Repo Empty
    </div>
}

@code {
    private List<GitHubRepo> gitHubRepos = new List<GitHubRepo>();
    private string orgId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using (var client = ClientFactory.CreateClient("BackendAPI"))
        {
            try
            {
                var repoString = await client.GetStringAsync("/api/github");

                var repos = JsonConvert.DeserializeObject<List<GitHubRepo>>(repoString);

                gitHubRepos = repos;
            }
            catch (Exception ex)
            {
                throw ex;
            }
        }
    }
}
