@page "/repos"
@using Microsoft.Extensions.Caching.Memory
@using Octokit
@using Microsoft.Extensions.Logging
@using HenryMigo.Web.Components

<div>
    <h3>Repositories:</h3>
</div>
<div>
    @if (!_isLoading && _gitHubRepos.Any())
    {
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 p-2">
            @foreach (var repo in _gitHubRepos)
            {
                <Repo repo="@repo"/>
            }
        </div>
    }

    @if (!_isLoading && !_gitHubRepos.Any())
    {
        <div class="w-100 d-flex justify-content-center align-items-center">
            <strong style="margin-left: 5px;">No repositories found...</strong>
        </div>
    }

    @if (_isLoading)
    {
        <div class="w-100 d-flex justify-content-center align-items-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading Repo's</span>
            </div>
            <strong style="margin-left: 5px;">Loading...</strong>
        </div>
    }
</div>

@inject ILogger<Repos> _logger;
@inject IMemoryCache _memoryCache;

@code {
    private IReadOnlyList<Repository> _gitHubRepos = new List<Repository>();
    private bool _isLoading = true;
    private string _repoKey = "repos";

    /// <summary>
    /// On initialisation of page get git repos.
    /// </summary>
    /// <exception cref="Exception">Catch exception, log and set _gitHubRepos to empty list</exception>
    protected override async Task OnInitializedAsync()
    {
        if (!_memoryCache.TryGetValue(_repoKey, out IReadOnlyList<Repository> repos))
        {
            try
            {
                var client = new GitHubClient(new ProductHeaderValue("HenryMigo.dev"))
                    {
                        Credentials = new Credentials("token", AuthenticationType.Anonymous)
                    };

                repos = await client.Repository.GetAllForUser("HenryMigo");

                var cacheOptions = new MemoryCacheEntryOptions().SetSlidingExpiration(TimeSpan.FromMinutes(15));

                _memoryCache.Set(_repoKey, repos, cacheOptions);
            }
            catch (Exception exception)
            {
                _logger.LogError(exception, "Failed to get git repositories");
            }
        }

        _gitHubRepos = repos ?? new List<Repository>();
        _isLoading = false;
    }
}